body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: auto;
}

.Q1, .Q2, .Q3, .Q4, footer{
    display: flex;
    width: 100vw;
}

footer{
    background-color: #1f2937;
}

.Q1{
    background-color: #1f2937;
}

.Q3{
    background-color: #E5E7EB;
}